<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register & Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <h2>Register</h2>
  <form action="/register" method="post">
    <input name="name" placeholder="Name" required>
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="repeat_password" type="password" placeholder="Repeat Password" required>
    <button type="submit">Register</button>
  </form>

  <hr>

  <h2>Login</h2>
  <form action="/login" method="post">
    <input name="email" type="email" placeholder="Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>

  <hr>

  <h2>Users</h2>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.name %> - <%= user.email %></li>
    <% }) %>
  </ul>

</body>
</html>